.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: black;
}

.paragraph {
    margin: 20px;
}