@import '~styles/config';

.header {
  display: #000000;

  &__container {
    @include container;
  }

  &__content {
    padding: $gutter 0;
  }

  &__logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 900;
    
  &__footer {
    margin: 30px;
  }
    
  &__green{
    color: #A9FBC4 !important;
  }
    
    // @media (min-width: $min-768) {
    //     height: 18px;
    //   }

    // &Svg {
    //   display: block;

    //   height: 16px;
    //   width: auto;

    //   @media (min-width: $min-768) {
    //     height: 18px;
    //   }
    // }
  }

  &__navigation {
    display: flex;
    margin-left: auto;
  }
}
