.call__button {
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    color: black;
    background-color: #8EFFBF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.container {
    display: flex;
}

.input {
    border: 2px solid orange;
}