.call__button {
    display: inline-block;
    margin: 70px auto;
    padding: 20px;
    color: #333333;
    background-color: #8EFFBF;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.container {
    display: flex;
    
}

.input {
    border: 2px solid orange;
}