@import '~styles/config';

.footer {
  

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 10px solid #8effbf;
  }

  &__list {
    display: flex;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__contact {
    font-family: "Open-sans", "sans-serif";
    text-decoration: none;
    color: #333333;
    font-size: 17px;
    @media (max-width: 767px ) {
      font-size: 14px;
      transform: translateY(4px)
    }
  }

  &__item {
    margin-left: 30px;

    transition: 200ms opacity ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}
